/**** Custom fonts ****/

@font-face {
  font-family: 'jenna_regular';
  src: url('../fonts/JennaSue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/JennaSue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/JennaSue.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/JennaSue.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/JennaSue.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/JennaSue.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
    font-style: normal;
}

/**** Header ***/
.header-social-icons .social-link li a {padding: 0;width: 29px;height: 29px;font-size: 0;margin: 0 2px;display: block;}
.header-social-icons .social-link li {display: inline-block;vertical-align: top;}
.header-social-icons .social-link li.facebook a{background:url(../images/facebook.png) no-repeat center center;}
.header-social-icons .social-link li.facebook:hover a{background:url(../images/facebook-hover.png) no-repeat center center;}
.header-social-icons .social-link li.instagram a {background:url(../images/insta.png) no-repeat center center;}
.header-social-icons .social-link li.instagram:hover a {background:url(../images/insta-hover.png) no-repeat center center;}
.header-social-icons .social-link li.twitter a{background:url(../images/twitter.png) no-repeat center center;}
.header-social-icons .social-link li.twitter:hover a{background:url(../images/twitter-hover.png) no-repeat center center;}
.header-social-icons .social-link li.pin a{background:url(../images/pin.png) no-repeat center center;}
.header-social-icons .social-link li.pin:hover a{background:url(../images/pin-hover.png) no-repeat center center;}
.header-social-icons {width: 18%;float: left;}
.header-language-background .welcome-msg {float: right;width: 44%;text-align: right;padding-top: 5px;}
.header-language-background {background:#000;padding: 5px 0;}
.page-header {max-width: 1200px; padding: 0;margin: 0 auto;}
.logo {max-width: 100%;min-height: 1px;padding: 8px 0;}
div#header-search {display: none;}
.header-logo {float: left;width: 40%;}
.skip-links {width: 60%;float: left;clear: none;border: none;}
.page-header-container {position: relative;width: 100%;float: left;}
.skip-links::after, .skip-links::before {content:''; display:table; width:100%; height:100%;}
.skip-account span.icon {display: none;}
.skip-cart span.label {display: none;}
.skip-cart .icon {background:url(../images/cart-icon.png) no-repeat center center;width: 24px;height: 56px;margin-right: 11px;}
.skip-cart:not(.skip-active):hover .icon {background:url(../images/cart-icon.png) no-repeat center center;}
.skip-cart .count {background: #ff0080;border-radius: 100%; width: 22px;height: 22px;text-align: center;color: #fff;font-size: 12px;position: absolute;margin: 0;top: 13px;right: 3px;}
.skip-cart .count:before, .skip-cart .count:after {display:none;}
.account-cart-wrapper {top: 12px;}
a.skip-link.skip-account {text-transform: none;color: #767676;font-size: 15px;font-family: 'open sans', sans-serif;    padding-right: 20px;}
a.skip-link.skip-cart{height: 56px;line-height: 56px;}
.skip-link.skip-nav.icon, .skip-link.skip-cart:not(.no-count) .icon { margin-right: 11px;}
#header-account.skip-active {top: 44px;right: 70px;padding: 0;}
#header-cart.skip-active {top: 64px;right: 18px;}
div#header-nav {border: none;width: 100%;float: left;background: #000;padding:7px 0 0 0;}
#header-nav .container {max-width: 1200px;margin: 0 auto;float: none;}
ol.nav-primary {margin: 0;}
.nav-primary li > a {color: #f5f5f5;font-size: 14px;font-family: 'open sans', sans-serif;padding: 0 20px 10px 20px !important;line-height: 1;}
.nav-primary > li > a::before { content: '';height: 15px; width: 1px; display: inline-block; background: #f5f5f5;position: relative;top: 3px; right: 20px;}
.nav-primary li ul li a {color: #fff;padding: 10px 5px 10px 5px !important;}
.nav-primary > li:first-child > a::before {display:none;}
.nav-primary li.first a {padding-left:0 !important;}
.nav-primary li.last a {border-right:none;}
.nav-primary a:hover, .nav-primary li:hover > a {color:#ffc000;}
nav#nav {width: 60%;display: inline-block;vertical-align: top;}
.nav-right-menu {display: inline-block;width: 37%;float: right;text-align: right;}
.nav-right-menu ul {margin: 0;padding: 0;list-style: none;}
.nav-right-menu ul li {display: inline-block;line-height: 1;}
.nav-right-menu ul li a {padding:0 20px;color: #f5f5f5;font-size: 14px;font-family: 'open sans', sans-serif;border-left: 1px solid #f5f5f5;line-height: 1;line-height: 13px; display: block;}
.nav-right-menu ul li:last-child a {border-right:none;padding-right:0;}
.nav-right-menu ul li:first-child a {border-left:none;}
.nav-right-menu ul li:hover a {color:#ffc000;text-decoration:none;}
a.skip-link.skip-account span.label {background:url('../images/account-arrow.png') no-repeat center right;display: inline-block;padding: 0 18px 0 0;background-size: 18%; }
#header-account a {text-align: left;transition: all 0.3s ease-in;}
#header-account a:hover {background: #000;color: #fff;text-decoration: none;transition: all 0.3s ease-in;}
.breadcrumbs {display: none;}
/***** Home page ****/
body {font-family: 'open sans', "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif !important;}
a:focus {border: none;outline: none;}
.cms-home .main-container {max-width: 100%;padding: 0;float: left;width: 100%;}
body.cms-home .main-container .container {max-width: 1190px;margin: 0 auto;width: 100%;}
.shop-with-wrapper  {background:url(../images/shop-with-bg.jpg) repeat-x center top;padding: 60px 0;background-size: cover;}
.shop-with-wrapper > .container {position: relative;}
.shop-with-wrapper .veiw-All { position: absolute; right: 0; bottom: 0;z-index: 99999;}
.shop-with-wrapper .veiw-All a {background: #ff0080 none repeat scroll 0 0; color: #fff; display: block; font-family: "open sans",sans-serif; font-size: 15px; height: 61px; line-height: 61px; padding: 0 30px; text-decoration: none;font-weight: 600;}
.shop-with-wrapper .veiw-All a:hover {background:#000;}
.title-heading {text-align: center;}
.title-heading h1 {font-family: 'open sans', sans-serif;color: #000;margin: 0;font-size: 50px;font-weight: 800;text-transform: none;letter-spacing: -2px;line-height: 1;}
.title-heading h2 {margin: 0; text-transform: none;font-family: 'jenna_regular';color: #ff0080;font-size: 80px;line-height: 1;position: relative;top: -15px;}
p.title-img {margin: 0;text-align: center;}
p.title-img img {margin: -15px auto 0 auto;}
.new-slider {margin: 40px 0 0 0;text-align: center;position: relative;}
.new-slider .owl-dots {display: none;}
.new-slider .owl-nav > div {display: inline-block;width: 54px;height: 61px;font-size: 0;}
.new-slider .owl-nav .owl-prev {background:url(../images/left-arrow.png) no-repeat center top;}
.new-slider .owl-nav .owl-prev:hover {background:url(../images/hover-left.png) no-repeat center top;}
.new-slider .owl-nav .owl-next {background:url(../images/hover-right.png) no-repeat center top;}
.new-slider .owl-nav .owl-next:hover {background:url(../images/right-arrow.png) no-repeat center top;}
.slider-pic img {width: 100%;}
.slider-dir {text-align: center;width: 100%;}
.slider-dir a {display:inline-block;}
.new-slider ul li .slider-pic img {margin: 0 auto; display: block;}
.how-does-wrapper {background:url(../images/how-does-bg.jpg) no-repeat center top; padding: 50px 0;}
.how-does-steps ul {display: block;width: 1069px;margin: 0 auto;max-width: 100%;}
.how-does-steps ul li {display: inline-block;}
.how-does-steps ul li {display: inline-block;vertical-align: top;width: 33%;text-align: center;padding-top: 88px;}
.how-does-steps ul li:first-child {padding: 100px 58px 0;}
.how-does-steps ul li:last-child {padding-top: 100px;}
.how-does-steps ul li span.step-icon img {margin: 0 auto;}
span.step-icon {width: 86px;height: 76px;display: block;margin: 0 auto;}
span.step-icon.hair {background:url(../images/hair.png) no-repeat center top;}
span.step-icon.hair:hover {background:url(../images/hair-hover.png) no-repeat center top;}
span.step-icon.face {background:url(../images/face.png) no-repeat center top;}
span.step-icon.face:hover {background:url(../images/face-hover.png) no-repeat center top;}
span.step-icon.coins {background:url(../images/coins.png) no-repeat center top;}
span.step-icon.coins:hover {background:url(../images/coins-hover.png) no-repeat center top;}
span.step-heading {display: block;font-family: 'jenna_regular';color: #000;font-size: 40px;}
span.step-text {font-size: 16px;color: #000;font-family: 'open sans', sans-serif;line-height: 1;}
.step-text a {color: #000;text-decoration: underline;}
.step-text a:hover {text-decoration: none;}
.how-does-steps {background:url(../images/circle-bg.png) no-repeat center top; min-height:443px;margin-top: 25px;}
.how-does-steps ul li:nth-child(2) {padding: 88px 59px 0;}
.how-does-steps ul li:last-child {padding: 100px 50px 0}
ul.bxslider li .contant {position: absolute;top: 80px;right: 20px;text-align: left;width: 490px;max-width: 100%;}
body.cms-home .main-container .col-main .std {display: none;}
body.cms-home .main-container {padding-top: 0;}
/****** Footer *****/
.footer-container {padding: 0px;max-width: 100% !important;float: left;width: 100%;}
.footer-container .footer {border-top: 0;padding: 0;}
.footer-container .container {max-width: 1200px;margin: 0 auto;}
.footer-links ul {float: left;width: 25%;display: block;text-transform: uppercase;}
.footer-links {width: 100%;float: left;background:#000000;padding: 50px 0;color: #fff;}
.footer-links ul li a {display: inline-block;color: #fff;font-size: 14px;text-transform: uppercase;padding: 0 22px 13px 0;line-height: 16px;font-family: 'open sans', sans-serif;}
.footer-links ul li a:hover {color:#ffd348;text-decoration:none;}
.footer-links ul li a:focus {border:none;}
.footer-links ul li:last-child a {padding-bottom:0;} 
.footer-links ul li:first-child {font-size: 20px;text-transform: uppercase;font-family: 'open sans', sans-serif;font-weight: 500;background:url(../images/border.png) no-repeat bottom left;margin-bottom: 25px;display: block;}
.footer-links .social-link li a {padding: 0;width: 29px;height: 29px;font-size: 0;margin: 0 2px;}
.footer-links .social-link li {display: inline-block;}
.footer-links .social-link li.facebook a{background:url(../images/facebook.png) no-repeat center center;}
.footer-links .social-link li.facebook:hover a{background:url(../images/facebook-hover.png) no-repeat center center;}
.footer-links .social-link li.instagram a {background:url(../images/insta.png) no-repeat center center;}
.footer-links .social-link li.instagram:hover a {background:url(../images/insta-hover.png) no-repeat center center;}
.footer-links .social-link li.twitter a{background:url(../images/twitter.png) no-repeat center center;}
.footer-links .social-link li.twitter:hover a{background:url(../images/twitter-hover.png) no-repeat center center;}
.footer-links .social-link li.pin a{background:url(../images/pin.png) no-repeat center center;}
.footer-links .social-link li.pin:hover a{background:url(../images/pin-hover.png) no-repeat center center;}
.footer-links .social-link li:first-child a {margin-left:0;}
.footer-links ul.social-link li:first-child {margin-bottom: 19px;}
.footer address {border: 0;margin: 0;padding: 10px 0;background: #3b3b3b;color: #fff;font-family: 'open sans', sans-serif;}
.footer address p:first-child {margin: 0;font-size: 13px;font-weight: bold;font-family: 'open sans', sans-serif;}
.footer address p:last-child {margin: 0;font-size: 12px;font-family: 'open sans', sans-serif;}
.footer address  a {color:#fff;font-family: 'open sans', sans-serif;}
.footer address  a:hover {text-decoration:none;color:#ffc000;}
/***** Listing page  ****/
.listing-page-banner {background: url(../images/listing-bg.png) no-repeat center center; padding: 40px 0 75px; margin-bottom: 50px;clear: both;}
.listing-page-banner .container {max-width: 1200px;float: none;margin: 0 auto;}
.listing-page-banner h1 {margin: 0;font-family: 'jenna_regular';color: #ff0080;text-align: center;font-size: 80px;text-transform: none;padding-bottom: 25px;}
.listing-tabber ul {display: block;width: 100%; text-align:center;}
.listing-tabber ul li {display: inline-block;vertical-align: middle;width: 23%;text-align: center;margin-right: 10px;position: relative;}
.listing-tabber ul li a {display: block;background: #000000;text-align: center;color: #fff;text-transform: uppercase;height: 105px;padding-top: 4px; text-decoration: none;}
.listing-tabber ul li a:hover {background:#ff0080;}
.listing-tabber ul li.active a{background:#ff0080;}
.listing-tabber ul li a:hover  span.num {color:#000;}
.listing-tabber ul li.active a  span.num {color:#000;}
.listing-tabber ul li a img {display: inline-block;vertical-align: middle;margin-right: 11px;}
.listing-tabber ul li a span.num {color:#ff0080;font-weight: bold;}
.listing-tabber ul li.active a::after {content: '';border-top: 30px solid #ff0080;position: absolute; bottom: -45px; display: block;border-left: 42px solid transparent;border-right: 43px solid transparent;width: 20px;height: 20px;margin: 0 auto;   right: 0;left: 0;border-bottom: 15px solid transparent;}
.category-cash-your-bundles .toolbar {display: none;}
.category-cash-your-bundles .add-to-links {display: none;}
.category-cash-your-bundles .products-grid .actions {display: none;}
.products-grid .product-info {background: #000;color: #fff;padding: 20px 10px 20px 10px !important; min-height: auto !important;}
.products-grid .product-name, .products-list .product-name {text-align: left;font-size: 16px;text-transform: none;font-family: 'open sans', sans-serif;}
.products-grid .product-name a, .products-list .product-name a {font-weight: bold;color: #fff;}
.products-grid .product-name a:hover, .products-list .product-name a:hover {font-weight: bold;color: #fff;}
h3.added-by {font-size: 15px;text-align: left;color: #fff;text-transform: none;margin: 0;}
.size-price-wrapper {width: 100%;display: table;margin-top: 8px;}
.products-grid .price-box {display: table-cell;width: 63%;margin: 0;text-align: right;}
.product-size {display: table-cell;width: 37%;}
.product-size span {display: block;text-align: left;color: #a8a8a8;font-size: 14px;}
.products-grid .price-box span {display: block;text-align: right;color: #ff0080;font-size: 14px;}
.price-box .old-price .price {color: #ff0080;}
.price-box .special-price {padding-left: 5px;}
.main-container, .footer-container {clear: both;}
.cms-who-we-are .main-container {clear: both; background: url(../images/shop-with-bg.jpg) repeat-x center top; }
/**** Product Detail page  ****/
.catalog-product-view .main-container {padding: 0;max-width: 100%;}
.catalog-product-view .product-essential {max-width: 1200px;margin: 0 auto;float: none;}
.catalog-product-view .product-view {background: url(../images/shop-with-bg.jpg) repeat-x center top;padding: 40px 0;background-size: cover;}
.product-name {width: 100%;}
.product-view .product-shop .product-name span.h1 {width: 100%;color: #000;text-transform: none;font-size: 28px;font-family: 'open sans', sans-serif;font-weight: bold;margin-bottom: 0;}
.item-id {clear: both;margin-bottom: 10px;font-size: 16px;color: #000;font-family: 'open sans', sans-serif;font-weight: bold;}
.item-id a {color:#ff0080; text-decoration: none;}
.item-id a:hover {text-decoration: none;}
.product-view .product-shop .extra-info {max-width: 100%;display: block;float: left;width: 100%;clear: both;padding: 0;}
.product-view .product-shop .extra-info {margin-bottom: 0;}
.full-name-added-by h3 {text-transform: none;font-size: 20px;color: #000;font-family: 'open sans', sans-serif;margin-bottom: 2px;}
.product-view .product-shop .short-description {margin-bottom: 15px;}
.product-view .product-shop .short-description {font-size: 20px;color: #000;line-height: 1;font-family: 'open sans', sans-serif;}
.product-view .product-shop .price-info {max-width: 100%;width: 100%;padding: 0;text-align: left;}
.catalog-product-view .price-box .old-price span.price {margin-right: 15px;font-size: 40px;color: #000;font-family: 'open sans', sans-serif;}
.catalog-product-view .product-view .product-shop .price-box .special-price .price {font-size: 40px;color: #000; font-weight: bold;font-family: 'open sans', sans-serif;}
.catalog-product-view .product-view .add-to-cart .qty-wrapper {display: none;}
.catalog-product-view .product-view .add-to-cart-buttons .button { background: #ff0080;text-decoration: none;text-transform: none;font-weight: bold; padding: 0px 20px; min-width: 140px;}
.catalog-product-view .product-view .add-to-cart-buttons .button:hover {background: #ec1480;}
.seller-description {float: right;width: 50%;clear: right;margin-top: 15px;padding-left: 15px;margin-bottom: 5px;}
.seller-description h3 {text-transform: none;color: #000;font-size: 20px;font-weight: bold;font-family: 'open sans', sans-serif;margin-bottom: 3px;}
.catalog-product-view ul.add-to-links { display: none !important;}
.seller-description p {font-size: 16px;color: #494949;font-family: 'open sans', sans-serif;}
.seller-description p a {color: #ff0080;}
.more-information {float: right;width: 50%;clear: right;margin-top: 15px;padding-left: 15px;margin-bottom: 10px;}
.product-image-thumbs a {border: none;}
.more-information ul {margin: 0; padding: 0 0 0 25px; list-style: none;}
.more-information ul li {display: block;background: #b1b1b1;margin-bottom: 10px;width: 200px;text-align: center;}
.more-information ul li a {color:#fff;font-size: 13px;text-transform: uppercase;padding: 5px 0; display: block;}
.more-information ul li a:hover {text-decoration: none;}
.more-information h3 {text-transform: none;color: #000;font-size: 20px;font-weight: bold;font-family: 'open sans', sans-serif;}
.share-wrap {float: right;width: 50%;clear: right;margin-top: 15px;padding-left: 15px;}
.catalog-product-view .product-view .add-to-cart {padding-bottom: 0;margin-bottom: 0;border-bottom: none;}
.share-wrap span.sharing-text {float: left;font-size: 16px;font-family: 'open sans', sans-serif;font-weight: 600;color: #000;margin-right: 5px;}
.product-view .sharing-links a.link-email-friend {}
.product-view .sharing-links a.link-facebook {background-image: url(../images/fb-product.png); background-repeat:no-repeat; background-position: center center;}
.product-view .sharing-links a.link-twitter {background-image: url(../images/twitter-product.png); background-repeat:no-repeat; background-position: center center;}
.product-view .sharing-links a {width: 32px;height: 32px;}
.product-view .sharing-links li {padding: 0px 4px 7px;}
.client-description {float: right;width: 50%;clear: right;margin-top: 15px;padding-left: 40px;}
.client-description li {display: inline-block;vertical-align: middle;}
.client-description li {display: inline-block; vertical-align: middle;font-size: 27px;color: #ff0080;font-family: 'open sans', sans-serif;}
.client-description li span.author-name {display: block;font-size: 19px;font-weight: bold;}
.client-description li:last-child {padding-left: 20px;}
.client-description .add-to-links {display: none;}
.similar-bundle-wrapper {background: #83ffd8; background: -moz-linear-gradient(top, #83ffd8 0%, #33bd93 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #83ffd8 0%,#33bd93 100%);background: linear-gradient(to bottom, #83ffd8 0%,#33bd93 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83ffd8', endColorstr='#33bd93',GradientType=0 );padding: 50px 0 55px;}
.similar-container {max-width: 1200px;margin: 0 auto;}
.similar-bundle-products ul {text-align: center;}
.similar-bundle-products li {display: inline-block;margin-right: 9px;margin-bottom: 22px;text-align: left;}
.similar-bundle-products li span.product-img {display: block;background: #fff;}
.similar-bundle-products li .pro-detail-con {background: #000;color: #fff;padding: 14px 12px;}
.pro-detail-con span.product-name {
    color: #fff;
    display: block;
    font-family: "open sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 200px;
}
span.product-added-by {font-size: 15px;text-align: left;color: #fff;text-transform: none;margin: 0 0 5px;font-family: 'open sans', sans-serif;display: block;}
.pro-measure-price > span {display: inline-block;vertical-align: top;}
.pro-measure-price span.product-measurement {color: #a8a8a8;font-size: 14px; width: 40%;}
.pro-measure-price span.product-price {width: 58%;}
.product-price p {display: inline-block;color:#ff0080; font-size: 14px;}
p.pro-old-price {margin-right: 9px; text-decoration: line-through;}
.similar-bundle-products {margin-top: 25px;}
.product-view .sharing-links li.pin-product a {background-image: none;}
.short-description .std {font-family: 'open sans', sans-serif;font-size: 20px;color: #000;}
.catalog-product-view .product-image, 
.catalog-product-view .no-touch .product-img-box .product-image:not(.zoom-available):hover {border: none !important;}
.catalog-product-view .product-img-box .product-image img {margin: 0;}
.catalog-product-view .more-views h2 {display: none;}
/***** Seller page ****/
.marketplace-seller-displayseller .main-container {margin-top: 0;max-width: 100%;padding: 0;}
.market_place_profile .markeft_place_main_widget {margin: 0;}
.marketplace-seller-displayseller .mp_profiles_container {position: static;left: 0px;max-width: 1200px; margin: 0 auto;  float: none;padding: 0;}
.marketplace-seller-displayseller p.mp_profiles_banner {display: none;}
.marketplace-seller-displayseller .market_place_profile {background: url(../images/listing-bg.png) no-repeat top -155px center #D8D8D8;}
.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper {margin: 0 auto;z-index: 9;background: none;width: 100%;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;padding: 0;    position: relative;}
.marketplace-seller-displayseller .mp_profiles_logo {margin: 0;float: left;text-align: center; vertical-align: middle; width: 30%;}
.marketplace-seller-displayseller .mp_profiles_container .sellers_store_info {width: 70%;padding-top: 230px;}
.marketplace-seller-displayseller .mp_profiles_container .sellers_store_info .all_review_container_wr {display:none;}
.market_place_profile .market_place_store_img {background: none;padding: 0;border: none; max-width: 100%;height: auto;float: left;border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}
.seller-left-col {width: 67%;}
.seller-right-col {width: 33%;padding-top: 52px;}
.marketplace-seller-displayseller .mp_profiles_container .social-media-wrapper {display:none;}
.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col h2 {font-family: 'open sans', sans-serif; font-size: 50px !important;font-weight: 800 !important;color: #000;line-height: 50px;}
.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col h3.seller-info { font-size: 23px;color: #000;font-family: 'open sans', sans-serif;text-transform: none;}
.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col p.seller-says {font-family: 'jenna_regular';color: #ff0080;font-size: 50px;line-height: 50px;}
.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col ul.seller-social-share {display: block;text-align: right;padding-right: 47px;}
.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col ul.seller-social-share li {display: inline-block;vertical-align: top;font-weight: bold;font-size: 14px;margin-left: 3px;}
.seller-right-col li {display: inline-block;vertical-align: middle;position: relative;border: 1px solid #000; height: 110px;    width: 113px;text-align: center;border-radius: 15px; margin-right: 25px;}
.seller-right-col li img {display: inline-block;}
.seller-right-col li.coin-count img {width: 90px; margin-top: 6px;}
.seller-right-col li.hair-count img {margin-top: 19px;}
span.count-seller {position: absolute;min-width: 30px;height: 30px;line-height: 30px;border-radius: 100%; background: #ff0080;color: #fff;}
.seller-right-col li:last-child {margin-right: 0;}
.markeft_place_main_widget::before, .markeft_place_main_widget::after {content: '';display: table;width: 100%;height: 100%;}
.seller-follow-message { background: #000000; margin-top: -30px;padding-bottom: 20px;}
.blank-div {width: 30%;float: left;}
.seller-follow-right {width: 70%; float: left;margin-top: -11px;}
.seller-follow-message::after, .seller-follow-message::before {content: '';display: table;width: 100%;height: 100%;}
.seller-follow-container {max-width: 1200px;margin: 0 auto;float: none;}
.seller-follow-right ul.seller-follow-social {width: 65%;float: left;padding-top: 9px;}
ul.follow-msg-social {width: 35%;float: left;text-align: right;}
.seller-follow-right ul.seller-follow-social li { display: inline-block;vertical-align: top;width: 105px;}
.seller-follow-right ul.seller-follow-social li a {color: #fff;text-transform: uppercase;font-weight: normal;}
.seller-follow-right ul.seller-follow-social li img {display: inline-block;vertical-align: middle;}
a.follow-btn {display: block;width: 120px; height: 40px;background: #d5d5d5; text-align: center; color: #fff; font-size: 16px; font-weight: 600;line-height: 40px;}
a.msg-btn {display: block;width: 120px; height: 40px;background: #ff0080; text-align: center; color: #fff; font-size: 16px; font-weight: 600;line-height: 40px;margin-left: 10px;}
a.follow-btn img {display: inline-block;}
.follow-msg-social li {display: inline-block;}
.marketplace-seller-displayseller .mp_profiles_desc {display: none;}
.marketplace-seller-displayseller .all-product-wrapper {background: url(../images/shop-with-bg.jpg) repeat-x center top;    padding: 65px 0 70px;background-size: cover;margin: 0;}
.all-product-container {max-width: 1190px;margin: 0 auto;float: none;}
.category-title h1 {margin: 0;color: #ff0080;text-align: center;font-family: 'jenna_regular'; text-transform: none; font-size: 80px;font-weight: normal;}
.marketplace-seller-displayseller .page-title.category-title { margin-bottom: 35px;}
.marketplace-seller-displayseller .products-grid > li {width: 18%;margin-right: 19px !important;}
.marketplace-seller-displayseller .products-grid > li:nth-child(3n+1) {clear: none;}
.marketplace-seller-displayseller .products-grid > li:nth-child(4n+1) {margin-right: 0 !important;}
.marketplace-seller-displayseller .products-grid .product-image {margin-bottom: 0;}
.marketplace-seller-displayseller .products-grid > li:nth-child(1) {margin-right: 19px !important;}
.marketplace-seller-displayseller .products-grid .product-info {background: #eeeeee;color: #000;padding: 17px 10px 17px 10px !important; min-height: auto !important; text-align: center;position: relative;}
.marketplace-seller-displayseller .product-name a {text-transform: uppercase;display: block;text-align: center;color: #000 !important;font-size: 18px;}
.marketplace-seller-displayseller .products-grid > li:nth-child(n+6) {display: none;}
.marketplace-seller-displayseller  h3.product-by {font-size: 15px;color: #000;text-transform: none;font-weight: bold; margin: 0;}
.marketplace-seller-displayseller .product-size {display: block;width: 100%;}
.marketplace-seller-displayseller .product-size p {font-size: 14px;font-weight: bold;}
.marketplace-seller-displayseller .price-box {display: none;}
.marketplace-seller-displayseller .product-count {display: block;position: absolute;right: 6px; background: #ff0080;font-size: 18px; color: #fff; min-width: 35px;height: 35px;line-height: 35px;border-radius: 100%;bottom: 6px;font-weight: bold;}

.marketplace-seller-displayseller a.view-all {width: 120px; height: 43px;text-align: center; line-height: 43px; background: #000; color: #fff;display: block; margin: 30px 0 0 auto;font-size: 16px;font-weight: bold;text-decoration: none;}
.marketplace-seller-displayseller a.view-all:hover { background: #ff0080; }
.under-sink-wrapper {background: #5ee0b8;padding: 65px 0 55px;}
.under-sink-container {max-width: 1190px;margin: 0 auto;float: none;}
.under-sink-container h1{margin: 0;color: #ff0080;text-align: center;font-family: 'jenna_regular';text-transform: none;    font-size: 80px;font-weight: normal;}
.under-sink-container .listing-tabber {margin-top: 30px;}
.under-sink-container .product-listing li.item {width: 19%;float: left;margin-right: 10px; margin-top:10px; }
.under-sink-wrapper::after, .under-sink-wrapper::before, .product-listing::after, .product-listing::before {content:''; display: table; width:100%; height: 100%;}
.under-sink-container .product-listing li.item img {width: 100%;}
.under-sink-container .product-listing li.item a.product-image {border: none;}
.under-sink-container .product-info {background: #000;color: #fff;padding: 20px 10px 20px 10px !important;min-height: auto !important;}
.under-sink-container .product-name, .under-sink-containerc .product-name {text-align: left;font-size: 16px;text-transform: none;font-family: 'open sans', sans-serif;}
.under-sink-container .product-name a {color: #fff !important;text-align: left;}
.under-sink-container h3.added-by {font-size: 15px;text-align: left; color: #fff;text-transform: none;margin: 0;}
.under-sink-container .size-price-wrapper {width: 100%;display: table;margin-top: 8px;}
.under-sink-container .product-size {display: table-cell;width: 37%;}
.under-sink-container .product-size span {display: block;text-align: left;color: #a8a8a8;font-size: 14px;}
.under-sink-container  .price-box {display: table-cell;width: 63%;margin: 0;text-align: right;}
.under-sink-container .price-box {color: #a0a0a0;font-size: 13px;margin: 0 0 5px;}
.product-listing {padding: 0 23px;margin-top: 35px;}
.under-sink-container .product-listing li.item:nth-child(1) {margin-right: 10px;}
/* .under-sink-container .product-listing li.item:nth-child(4n+1) {margin-right: 0 !important;} */
.under-sink-container .price-box .price {color: #ff0080;font-size: 16px;}
.under-sink-wrapper .view-more {width: 120px; height: 43px;text-align: center; line-height: 43px; background: #000; color: #fff;display: block; margin: 30px 27px 0 auto;font-size: 16px;font-weight: bold;text-decoration: none;}
.under-sink-wrapper .view-more:hover { 	background:#ff0080; }
.under-sink-container ul::after, .under-sink-container ul::before {content: '';display: table;width: 100%;height: 100%;}
.under-sink-container ul {display: block;}
.coin-collection-wrapper {padding: 50px 0;}
.coin-collection-container {max-width: 1190px;margin: 0 auto;float: none;}
.coin-collection-container h1 {margin: 0;color: #ff0080;text-align: center;font-family: 'jenna_regular';text-transform: none; font-size: 80px;font-weight: normal;}
.coin-collection-list {background: #fafafa;border: 1px solid #e3e3e3;padding: 20px;margin-bottom: 25px;}
.coin-collection-list ul { display: table; width: 100%;}
.coin-collection-list ul li {display: table-cell;width: auto;vertical-align: top;}
.coin-collection-list ul li.coin-img {width: 15%;text-align: center;}
.coin-collection-list ul li.coin-au-name { width: 25%;vertical-align: middle;}
.coin-collection-list ul li.coin-brand-name { width: 20%; font-size: 35px;color: #5e5e5e;font-family: 'jenna_regular'; vertical-align: middle;}
.coin-collection-list ul li.coin-des {width: 40%;font-size: 16px;color: #4b4b4b;border-left: 1px solid #ccc; padding-left: 30px;}
.coin-collection-list ul li.coin-img img {margin: 0;}
.coin-collection-list ul li.coin-au-name h3 {font-weight: bold;font-size: 23px;color: #000;text-transform: none;font-family: 'open sans', sans-serif;margin: 0;}
.coin-collection-list ul li.coin-au-name h4.date {color: #ff0080;font-size: 14px;text-transform: none; margin:0;}
.coin-collection-wrapper-outer {padding-top: 35px;}
#catalog-filters .block-title {display: none;}
#catalog-filters .ptech_multilayerdt {display: none;}
.filter-price-wrapper h1 {color: #000000;font-family: "open sans",sans-serif;font-size: 18px;font-weight: bold;    letter-spacing: 0;text-transform: uppercase;letter-spacing: 0;margin-bottom: 20px;padding-bottom: 12px;   text-transform: uppercase; border-bottom: 1px solid #c4c4c4;}
#slider-container {margin-bottom: 35px;margin-left: auto;margin-right: auto;width: 270px !important;}
a.filter-btn {display: inline-block !important;float: none !important;}
#amount {display: inline-block !important;float: none !important;height: auto !important;padding: 0 !important;    width: 140px !important;color: #636363 !important;}
.filter-price-wrapper label {color: #636363; padding-left: 10px;}
.filter-price-wrapper {margin-bottom: 35px;position: relative;}
#slider-range {left: 130px;position: absolute;top: 70px;height: 345px !important;}
ul.ver-range-list li {font-weight: bold; margin-bottom: 12px !important;}
#slider-range ~ .filter-btn {margin-top: 30px;}


/**** Media Screens ****/
@media (min-width:768px) and (max-width:1024px) {
	.new-slider {padding-left: 15px; padding-right: 15px;}
	.how-does-steps {background-size: 100%;min-height: 333px;}
	.how-does-steps ul li:first-child {padding: 62px 31px 0;}
	.how-does-steps ul li:nth-child(2) {padding: 60px 10px 0px 45px;}
	.how-does-steps ul li:last-child {padding: 52px 9px 0 30px;}
	.how-does-steps ul li {width: 32%;}
	span.step-heading {font-size: 25px;}
	span.step-icon {width: 52px;height: 49px;background-size: 100% !important;}
	span.step-text {display: block;}
	.footer-container .container {padding-left: 15px;padding-right: 15px;}
	.footer-links ul li:first-child {font-size: 16px;}
	.footer-links ul li a {font-size: 12px;padding: 0 0 0 0;}
	.cms-home .col-main {margin: 0;}
	.header-logo {padding-left: 15px;width: 50%;}
	.skip-links {padding-top: 10px;width: 50%;text-align: right;padding-right: 15px;}
	a.skip-link.skip-search {display: none;}
	a.skip-link.skip-cart {border-right: none;width: 14%;}
	.skip-cart .icon {margin-right: 19px !important;float: right;}
	.skip-link {display: inline-block;vertical-align: top;float: none;}
	.account-cart-wrapper {display: inline-block;width: 45%;vertical-align: top;position: static;}
	a.skip-link.skip-account {width: 55%;top: 7px;}
	.header-minicart {display: inline-block;width: 41%;}
	a.skip-link.skip-nav {top: 7px;}
	.header-language-background {display: block;padding: 5px 15px;}
	.header-social-icons {width: 30%;}
	.header-language-background .welcome-msg {width: 70%;}
	#header-account.skip-active {right: 89px;width: 200px;position: absolute;z-index: 200;top: 61px;}
	.block-cart.skip-active {display: block;position: absolute;z-index: 99;width: 360px;right: 14px;left: auto;}
	a.skip-link.skip-cart.skip-active {background: none;}
	#header-nav .container {padding-left: 15px;padding-right: 15px;}
	nav#nav {width: 100%;display: block;}
	.nav-right-menu {display: block;width: 100%;float: left;text-align: left;}
	.nav-primary li > a {color: #f5f5f5 !important;border-right: none;line-height: 1;border: none !important;}
	.nav-right-menu ul li {display: block;line-height: 15px;}
	.nav-right-menu ul li a {border: none;line-height: 21px; padding: 3px 0;}
	#header-nav.skip-content {display: none;}
	#header-nav.skip-content.skip-active {display: block;}
	.catalog-product-view .product-view .product-img-box .product-name h1 {color: #000;font-size: 28px;text-transform: none;   font-family: 'open sans', sans-serif;font-weight: bold;}
	.catalog-product-view .product-img-box {width: 50%;float: left;padding-left: 15px;}
	.product-view .add-to-cart-wrapper {clear: none;}
	.product-view .sharing-links a {background-size: auto !important;}
	.catalog-product-view .product-view .product-shop, .catalog-product-view .product-view .add-to-cart-wrapper, .catalog-product-view .product-view .block-related, .catalog-product-view .product-img-box, .catalog-product-view .product-collateral {width: 50%;float: left;padding-right: 0;padding-left: 15px;}
	.nav-primary > li > a::before {display:none;}
	.nav-primary li.first a {padding-left: 20px !important;}
	.marketplace-seller-displayseller .all-product-wrapper {padding: 65px 10px 70px;}
	.marketplace-seller-displayseller .products-grid > li {margin-right: 17px !important;}
	.marketplace-seller-displayseller .product-name a {font-size: 14px;}
	.marketplace-seller-displayseller  h3.product-by {font-size: 12px;}
	.marketplace-seller-displayseller .product-size p {font-size: 12px;}
	.marketplace-seller-displayseller .product-count {min-width: 25px;height: 25px;font-size: 12px;line-height: 25px;}
	.coin-collection-wrapper {padding: 50px 20px;}
	.marketplace-seller-displayseller .mp_profiles_container .sellers_store_info {padding-top: 50px;padding-left: 35px;}
	.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col h2 {font-size: 40px !important;}
	.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col p.seller-says {font-size: 30px;}
	.seller-right-col {padding-top: 0;}
	.seller-right-col li {margin-bottom: 20px;}
	.seller-right-col li {height: 90px;width: 100px;}
	.seller-right-col li.hair-count img {width: 62%;}
	.seller-right-col li.coin-count img {width: 62%;}
	.seller-follow-right ul.seller-follow-social {width: 40%;}
	ul.follow-msg-social {width: 55%;}
	.seller-follow-right ul.seller-follow-social li {margin-bottom: 10px;}
}

@media (min-width:768px) and (max-width:1024px) and (orientation: landscape) {
	.how-does-steps {min-height: 443px;}
	.how-does-steps ul li {padding-top: 120px !important;}
}

@media (max-width:767px) {
	img {max-width:100%;}
	.shop-with-wrapper {padding: 30px 20px;}
	.how-does-steps {background:none;}
	.how-does-steps ul li {display: block;vertical-align: top;width: 100%;}
	.how-does-steps ul li:first-child {padding: 0 20px 0;}
	.how-does-steps ul li:nth-child(2) {padding: 0 20px 0;}
	.how-does-steps ul li:last-child {padding: 0 20px 0;}
	.title-heading h2 {font-size: 40px;}
	.title-heading h1 {font-size: 35px;}
	p.title-img img {max-width: 90%;}
	.title-heading {padding: 0 15px;}
	span.step-heading {font-size: 30px;}
	span.step-text {font-size: 15px;}
	.how-does-steps ul li {width: 300px;height: 300px;border-radius: 100%;margin: 0 auto 25px auto;border: 1px solid #000;  padding: 24px 35px 0 !important;}
	.how-does-wrapper {background-size: cover;padding: 25px 0;}
	.new-slider .owl-nav > div {width: 40px;height: 46px;background-size: 100% !important;}
	.bx-wrapper .bx-controls-direction a {bottom: 0 !important;}
	.bx-wrapper .bx-prev {right: 20px !important;background-size: 13px !important;}
	.bx-wrapper .bx-next {right: 0 !important;background-size: 13px !important;}
	.footer-container .container {padding-left: 15px;padding-right: 15px;}
	.footer-links ul {width: 100%;margin-bottom: 25px;}
	.footer-links ul li a {padding: 0 0 7px 0;display: block;}
	.footer-links ul li:first-child {margin-bottom: 15px;}
	.cms-home .col-main {margin: 0;}
	.footer-links ul.social-link li:first-child {margin-bottom: 10px;}
	.footer-links {padding: 30px 0 10px;}
	.header-language-background {display: block;padding: 5px 15px;}
	.header-social-icons {display: none;}
	.header-language-background .welcome-msg {float: left;width: 100%;padding: 0;text-align: left;font-size: 10px;}
	.header-logo {padding-left: 15px;}
	a.skip-link.skip-search {display: none;}
	.skip-account span.icon {display: block;margin: 15px auto 0 auto;background:url(../images/account.png) no-repeat center center;background-size: 90%;}
	.skip-cart .count {width: 17px;height: 17px;font-size: 10px;line-height: 17px;margin: 0 auto 0 auto;left: 0;right: -12px; top: 20px;}
	.skip-cart .icon {width: 14px;height: 37px;background-size: 100%;}
	.skip-link {width: 33%;height: 57px;}
	a.skip-link.skip-cart {height: 57px;line-height: 57px;border-right: none;}
	.skip-link.skip-nav span.icon {margin-top: 11px;background:url(../images/trigger.png) no-repeat center center;background-size: 90%;}
	.skip-nav .label {display: none;}
	.skip-link.skip-active {background: #fff;}
	.skip-content.skip-active {background: #fff;}
	#header-account.skip-active {float: left;width: 100%;}
	.skip-account:not(.skip-active):hover .icon {background: url(../images/account.png) no-repeat center center;background-size: 90%;}
	div#header-nav {float: left;width: 100%;}
	.skip-nav:not(.skip-active):hover .icon {background:url(../images/trigger.png) no-repeat center center;background-size: 90%;}
	#header-cart.skip-active {top: 57px;right: 0; width: 100%;float: left;position: absolute;z-index: 99;}
	.skip-cart:not(.skip-active):hover .icon {background-size: 100%;}
	#header-nav .container {padding-left: 15px;padding-right: 15px;}
	nav#nav {width: 100%;display: block;}
	.nav-right-menu {display: block;width: 100%;float: left;text-align: left;}
	.nav-primary li > a {color: #f5f5f5 !important;border-right: none;line-height: 1;border: none !important;}
	.nav-right-menu ul li {display: block;line-height: 15px;}
	.nav-right-menu ul li a {border: none;line-height: 21px; padding: 3px 0;}
	a.skip-link.skip-account {padding-right: 0;}
	.shop-with-wrapper .veiw-All a {font-size: 14px;height: 46px;line-height: 46px;padding: 0 17px;}
	.seller-description, .more-information, .share-wrap, .client-description {float: left;width: 100%;clear: right;padding-left: 15px;padding-right: 15px;}
	.catalog-product-view .product-img-box, .item-id, .product-view .product-shop .full-name-added-by, .product-view .product-shop .short-description, .product-view .product-shop .price-info, .add-to-cart-wrapper{padding:0 15px !important;}
	.catalog-product-view .product-view .product-img-box .product-name h1 {color: #000;font-size: 28px;text-transform: none;   font-family: 'open sans', sans-serif;font-weight: bold;}
	.catalog-product-view .product-view .product-shop .price-box .special-price .price, .catalog-product-view .price-box .old-price span.price {font-size: 30px;}
	.product-view .sharing-links a {background-size: auto !important;}
	.client-description li:last-child {padding-left: 0;margin-top: 10px;}
	.client-description li {font-size: 21px;}
	.nav-primary > li > a::before {display:none;}
	.nav-primary li.first a {padding-left: 20px !important;}
	.marketplace-seller-displayseller .products-grid > li {width: 100%;margin-right: 0 !important;}
	.category-title h1, .under-sink-container h1, .coin-collection-container h1 {font-size: 50px;}
	.under-sink-container .product-listing li.item {width: 100%;margin-bottom: 25px;}
	.coin-collection-list ul {display: block; width: 100%;}
	.coin-collection-list ul li {display: block; width: 100% !important; vertical-align: top; margin-bottom: 15px;}
	.coin-collection-list ul li.coin-des {border-left: none;padding-left: 0;}
	.listing-tabber ul li {margin-bottom: 10px;}
	.seller-follow-right {width: 100%;margin-top: 0;}
	.seller-follow-right ul.seller-follow-social {width: 100%;margin-bottom: 15px;}
	ul.follow-msg-social {width: 100%;text-align: left;}
	.seller-follow-message {margin-top: 0;padding-left: 20px;padding-right: 20px;}
	.marketplace-seller-displayseller .mp_profiles_container .sellers_store_info {width: 100%;padding-top: 30px;}
	.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col h2 {font-size: 30px !important;}
	.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col p.seller-says {font-size: 40px;line-height: 45px;}
	.marketplace-seller-displayseller .all-product-wrapper {padding: 30px 20px 30px;}
	.under-sink-wrapper {padding: 30px 0 30px;}
	.coin-collection-wrapper {padding: 30px 0;}
	.coin-collection-container {padding: 0 20px;}
	.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper {padding: 0 20px !important;}
	.marketplace-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .seller-left-col ul.seller-social-share {padding-right: 0;}
	.marketplace-seller-displayseller .seller-right-col {padding-top: 0;}
	.seller-follow-right ul.seller-follow-social li {margin-bottom: 10px;}
}

.seller_message {position: fixed; width: 500px; height: 314px;background: #D8D8D8;padding: 27px;z-index: 9999;border: 1px solid #000;top: 50%;left: 50%;margin-left: -250px;margin-top: -150px;display:none; } 
.seller_message a.close_msg {position: absolute;right: 0;top: 0;width: 25px;height: 25px;border-radius: 50%;padding: 3px 3px;margin-right: -16px;margin-top: -13px;border: 2px solid #FF0080;font-size: 20px;color: #FF0080; }
#hair_product, #revieve_coin { cursor:pointer; }

.main-container{
    min-height: 51vh;
}

.getlookcontent {
	width:45px%;
	margin-left:5px;
	float:left;
	
}

.getlook {
    width: 100%;
    float: left;
    margin: 10px;
}